name: FitConnect

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      checks: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./WebApplication6/Dockerfile
          push: true
          tags: |
            tilen7/webapplication6:latest
            tilen7/webapplication6:${{ github.sha }}

      - name: Restore dependencies
        run: dotnet restore
        working-directory: ./WebApplication6

      - name: Build project
        run: dotnet build --configuration Release --no-restore
        working-directory: ./WebApplication6

      - name: Deploy Docker image to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "rgis-test" 
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: "tilen7/webapplication6:${{ github.sha }}"
